{% extends "site/base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
  {{ contact_page.seo_title }}
{% endblock %}
{% block head %}
  <meta name="description" content="{{ contact_page.seo_description }}">
  <meta name="keywords" content="{{ contact_page.seo_keywords }}">
{% endblock head %}
{% block content %}
  <div class="d-flex flex-column justify-content-center px-5 py-3">
    {% for contact in contacts %}
      <div class="w-100 border shadow-sm mb-2">

        <div class="fs-4 fw-light px-3 py-2">
          {% if LANGUAGE_CODE == "uk" %}
            {{ contact.name_uk }}
          {% else %}
            {{ contact.name_en }}
          {% endif %}
        </div>
        <div class="container">
          <div class="row g-2">
            <div class="col-sm">
              <div class="ratio ratio-1x1">
                <img src="{{ contact.logo.url }}" alt="Contact Logo" class="img-fluid">
              </div>
            </div>
            <div class="col-sm">
              <div class="ratio ratio-1x1">
                <iframe
                  src="https://maps.google.com/maps?q={{ contact.lon|unlocalize }},{{ contact.lat|unlocalize }}&z=14&amp;output=embed"
                  referrerpolicy="no-referrer-when-downgrade" class="w-100 h-100">
                </iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="fs-6 fw-light p-3 text-align-justify">
          {% if LANGUAGE_CODE == "uk" %}
            {{ contact.address_uk }}
          {% else %}
            {{ contact.address_en }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
{% block script %}
{% endblock script %}
