{% extends "site/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
  {{ hall.seo_title }}
{% endblock %}
{% block head %}
  <meta name="description" content="{{ hall.seo_description }}">
  <meta name="keywords" content="{{ hall.seo_keywords }}">
{% endblock head %}
{% block content %}
  <!--Hall Upper Banner-->
  <div class="ratio ratio-5x2">
    <div class="inline-block overflow-hidden">
      <img class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle"
           src="{{ hall.upper_banner.url }}"
           alt="Hall Upper Banner">
    </div>
  </div>
  <div class="px-sm-5 px-3 py-3">
    <div class="container g-0">
      <div class="row">
        <!--Left Column-->
        <div class="col-md-3 col-12">
          <!--Sessions-->
          <h5 class="fw-normal p-2">{% trans 'Sessions' %}</h5>
          <div class="list-group" style="max-height: 100vh; overflow-y: scroll">
            {% for session in hall.sessions.all %}
              <a class="list-group-item list-group-item-action">
                {% trans 'Session' %}&nbsp;{{ session.id }}
              </a>
            {% endfor %}
          </div>
          <!--See all sessions-->
          <a href="{% url 'site_schedule' %}" class="btn btn-primary w-100 mt-2 mb-1">
            <i class="fa fa-th-list" aria-hidden="true"></i>
            {% trans 'See all session' %}
          </a>
        </div>
        <!--Right Column-->
        <div class="col-md-9 col-12">
          <!--Hall Name-->
          <h4 class="text-align-justify my-2">
            {% if LANGUAGE_CODE == "en" %}
              {{ hall.name_en }}
            {% else %}
              {{ hall.name_uk }}
            {% endif %}
          </h4>
          <!--Hall Description-->
          <h4 class="text-align-justify my-2">{% trans 'Description' %}</h4>
          <div class="fs-6 fw-light text-align-justify">
            {% if LANGUAGE_CODE == "en" %}
              {{ hall.description_en }}
            {% else %}
              {{ hall.description_uk }}
            {% endif %}
          </div>
          <!--Hall Scheme-->
          <h4 class="text-align-justify my-2">{% trans 'Scheme' %}</h4>
          <img class="w-100 rounded" src="{{ hall.scheme.url }}" alt="Hall Scheme">
        </div>
      </div>
    </div>
  </div>
  <div id="HallImageGalleryCarousel" class="carousel slide"
       data-bs-ride="carousel"
       data-bs-interval="3000">
    <div class="carousel-indicators">
      {% for image in hall.images.all %}
        <button type="button"
                data-bs-target="#HallImageGalleryCarousel"
                data-bs-slide-to="{{ forloop.counter0 }}"
                aria-label="Slide {{ forloop.counter0 }}"
                aria-current="true"
                {% if forloop.counter0 == 0 %}class="active"{% endif %}></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for image in hall.images.all %}
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
          <div class="ratio ratio-4x1">
            <a>
              <img class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle"
                   src="{{ image.image.url }}" alt="Hall Image">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#HallImageGalleryCarousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#HallImageGalleryCarousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock content %}
{% block script %}
  <script>
  </script>
{% endblock script %}
