{% extends "site/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load mathfilters %}
{% block title %}
  {% trans "Main Page" %}
{% endblock %}
{% block head %}
{% endblock head %}
{% block content %}
  <!--Top Banners-->
  {% if banner_settings.are_banners_active %}
    <div id="topBannerCarousel" class="carousel slide"
         data-bs-ride="carousel"
         data-bs-interval="{{ banner_settings.banner_rotation|mul:1000 }}">
      <div class="carousel-indicators">
        {% for banner in top_banners %}
          <button type="button"
                  data-bs-target="#topBannerCarousel"
                  data-bs-slide-to="{{ forloop.counter0 }}"
                  aria-label="Slide {{ forloop.counter0 }}"
                  aria-current="true"
                  {% if forloop.counter0 == 0 %}class="active"{% endif %}></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for banner in top_banners %}
          <div
            class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <div class="d-flex align-items-center justify-content-center overflow-hidden ratio ratio-4x1">
              <a class="w-100" href="{{ banner.url }}">
                <img class="w-100" src="{{ banner.image.url }}" alt="Banner Image">
              </a>
            </div>

            <div class="carousel-caption d-none d-md-block">
              <h5>{{ banner.description }}</h5>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#topBannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#topBannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  {% endif %}
  <!--Advertisement Banners-->
  {% if banner_settings.are_advertisements_active %}
    <div id="advertisementBannerCarousel" class="carousel slide"
         data-bs-ride="carousel"
         data-bs-interval="{{ banner_settings.advertisement_rotation|mul:1000 }}">
      <div class="carousel-indicators">
        {% for banner in advertisement_banners %}
          <button type="button"
                  data-bs-target="#advertisementBannerCarousel"
                  data-bs-slide-to="{{ forloop.counter0 }}"
                  aria-label="Slide {{ forloop.counter0 }}"
                  aria-current="true"
                  {% if forloop.counter0 == 0 %}class="active"{% endif %}></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for banner in advertisement_banners %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <div class="d-flex align-items-center justify-content-center overflow-hidden ratio ratio-4x1">
              <img class="w-100" src="{{ banner.image.url }}" alt="Banner Image">
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#advertisementBannerCarousel"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#advertisementBannerCarousel"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  {% endif %}
  <!--SEO Text-->
  <p class="fw-light py-3 px-5 text-align-justify">
    {% if LANGUAGE_CODE == 'en' %}
      {{ main_page_info.seo_text_en }}
    {% else %}
      {{ main_page_info.seo_text_uk }}
    {% endif %}
  </p>
{% endblock content %}
{% block script %}
{% endblock script %}
