.preview-image, .preview-formset, .preview-logo, .preview-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 7px;
  border-radius: 5px;
}

.preview-formset {
  height: 4rem;
}

.preview-formset img {
  width: 100%;
}


.preview-image {
  width: 100%;
  aspect-ratio: 9/16;
}

.preview-image img {
  height: 100%;
}

.preview-logo {
  aspect-ratio: 1;
  width: 100%;
}

.preview-logo img {
  width: 100%;
}

.preview-banner {
  width: 100%;
  aspect-ratio: 5/2;
}

.preview-banner img {
  width: 100%;
}
