.select2-selection__rendered {
  line-height: 30px !important;
  align-content: center !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
}

.select2-selection__arrow {
  height: 37px !important;
}

