{% extends "adminlte/panel/base.html" %}
{% load static %}
{% block title %}
  Cinema
{% endblock title %}
{% block head %}
  <style>
  </style>
  <link rel="stylesheet" href="{% static 'custom/css/responsive-inputs.css' %}">
  <link rel="stylesheet" href="{% static 'custom/css/preview.css' %}">
  <link rel="stylesheet" href="{% static 'custom/css/delete-corner-button.css' %}">
  <link rel="stylesheet" href="{% static 'custom/css/horizontal-formset.css' %}">
  <link rel="stylesheet" href="{% static 'custom/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'custom/css/datatable.css' %}">
  <!--DataTable-->
  <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap4.css" rel="stylesheet">
  <script defer src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script defer src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>
  <script defer src="{% static 'plugins/ajax_datatable/js/utils.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header p-2">
      Cinema
    </div>
    <div class="card-body p-2">
      <ul class="nav nav-tabs mb-2">
        <li class="nav-item ml-auto">
          <a class="nav-link active" id="tab-en">English</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab-uk">Українська</a>
        </li>
      </ul>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--General Information-->
        {{ form.id }}
        <h5 class="ml-2">General information</h5>
        <div class="input-group mb-2 en">
          <div class="input-group-prepend">
            <span class="input-group-text">Cinema name in English</span>
          </div>
          {{ form.name_en }}
        </div>
        <div class="input-group mb-2 en">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Cinema description in English
            </span>
          </div>
          {{ form.description_en }}
        </div>
        <div class="input-group mb-2 en">
          <div class="input-group-prepend">
            <span class="input-group-text">Cinema features in English</span>
          </div>
          {{ form.features_en }}
        </div>
        <div class="input-group mb-2 uk">
          <div class="input-group-prepend">
            <span class="input-group-text">Cinema name in Ukrainian</span>
          </div>
          {{ form.name_uk }}
        </div>
        <div class="input-group mb-2 uk">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Cinema description in Ukrainian
            </span>
          </div>
          {{ form.description_uk }}
        </div>
        <div class="input-group mb-2 uk">
          <div class="input-group-prepend">
            <span class="input-group-text">Cinema features in Ukrainian</span>
          </div>
          {{ form.features_uk }}
        </div>
        <!--Logo Image-->
        <h5 class="ml-2 mt-3">Logo image</h5>
        <div class="d-flex justify-content-center">
          <div style="width: min(25rem, 100%)">
            {% if form.instance.logo %}
              <div class="preview-logo">
                <img src="{{ form.instance.logo.url }}" alt="preview">
              </div>
            {% else %}
              <div class="preview-logo skeleton"></div>
            {% endif %}
            <div class="input-group mb-3">
              <div class="custom-file">
                <label class="custom-file-label">
                  Choose file
                </label>
                {{ form.logo }}
              </div>
              <button
                type="button"
                class="btn btn-primary btn-danger ml-2{% if not form.instance.logo %} disabled {% endif %}"
                id="delete-cinema-logo-button">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
              </button>
            </div>
          </div>
        </div>
        <!--Upper Banner Image-->
        <h5 class="ml-2">Banner image</h5>
        {% if form.instance.upper_banner %}
          <div class="preview-banner">
            <img src="{{ form.instance.upper_banner.url }}" alt="preview">
          </div>
        {% else %}
          <div class="preview-banner skeleton"></div>
        {% endif %}
        <div class="input-group mb-3">
          <div class="custom-file">
            <label class="custom-file-label" for=for="{{ form.upper_banner.auto_id }}">
              Choose file
            </label>
            {{ form.upper_banner }}
          </div>
          <button
            type="button"
            class="btn btn-primary btn-danger ml-2{% if not form.instance.upper_banner %} disabled {% endif %}"
            id="delete-cinema-banner-button">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          </button>
        </div>
        <!--Image Gallery-->
        <h5 class="ml-2 mt-2">Image gallery</h5>
        <p class="ml-2 mb-0">Size: 1000 × 190</p>
        <div class="scrolling-wrapper">
          <div class="mt-3">
            {{ formset.management_form }}
            {% for form in formset %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              <div class="card border">
                <div class="card-body p-2">
                  {% if form.instance.image %}
                    <div class="preview-formset">
                      <img src="{{ form.instance.image.url }}" alt="preview">
                    </div>
                  {% else %}
                    <div class="preview-formset skeleton">
                    </div>
                  {% endif %}
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <label class="custom-file-label">Choose file</label>
                      {{ form.image }}
                    </div>
                  </div>
                </div>
                <div style="display: none">
                  {{ form.DELETE }}
                </div>
                <button type="button"
                        class="btn btn-sm btn-primary btn-danger btn-circle delete-corner-button delete-cinema-image-button">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button"
                  class="btn btn-primary btn-info"
                  id="add-cinema-image-button">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add form
          </button>
        </div>
        <h5 class="ml-2 mb-1 mt-2">Halls</h5>
        <!--DataTable-->
        {% if form.instance.id %}
          <table id="datatable_halls" class="table table-table-striped table-bordered" style="width:100%"></table>
          <div class="d-flex justify-content-end">
            <a href="{% url 'adminlte_halls_create_hall' cinema_id=form.instance.id %}"
               class="btn btn-primary btn-success">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Add hall
            </a>
          </div>
        {% endif %}
        <!--SEO Block-->
        <h5 class="ml-2 mb-1 mt-2">SEO Block</h5>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">URL</span>
          </div>
          {{ form.seo_url }}
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          {{ form.seo_title }}
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Keywords</span>
          </div>
          {{ form.seo_keywords }}
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
          </div>
          {{ form.seo_description }}
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
            Save
          </button>
          <button type="button" class="btn btn-info ml-2" id="reset-form-button">
            <i class="fa fa fa-minus" aria-hidden="true"></i>
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block script %}
  <!--DataTable-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>
  <!--Django AJAX DataTable-->
  <script type="text/javascript" src="{% static 'plugins/ajax_datatable/js/utils.js' %}"></script>
  <script>
    const $wrappers = $('.scrolling-wrapper');
    const $emptyCinemaImageForm = $wrappers.eq(0).find('.mt-3 .card:last-child').clone(true);

    $wrappers.each(function () {
      let isDown = false;
      let startX;
      let startY;
      let scrollLeft;
      let scrollTop;

      $(this).on('mousedown', function (e) {
        isDown = true;
        startX = e.pageX;
        startY = e.pageY;
        scrollLeft = $(this).scrollLeft();
        scrollTop = $(this).scrollTop();
        $(this).css('cursor', 'grabbing');
      });

      $(this).on('mouseleave mouseup', function () {
        isDown = false;
        $(this).css('cursor', 'grab');
      })

      const $wrapper = this;

      $(document).on('mousemove', function (e) {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - $wrapper.offsetLeft;
        const y = e.pageY - $wrapper.offsetTop;
        const walkX = x - startX;
        const walkY = y - startY;
        $wrapper.scrollLeft = scrollLeft - walkX;
        $wrapper.scrollTop = scrollTop - walkY;
      });
    })

    $('.uk').hide();

    $('.card-body .nav-link').click(function () {
      const clickedTabId = $(this).attr('id');

      $('.card-body .nav-link').removeClass('active');
      $(this).addClass('active');

      if (clickedTabId === 'tab-en') {
        $('.uk').hide();
        $('.en').show();
      } else {
        $('.uk').show();
        $('.en').hide();
      }
    });

    $("input[type='text'], input[type='url'], textarea").each(function () {
      $(this).attr('data-initial', $(this).val());
    });

    $("#reset-form-button").click(function (e) {
      e.preventDefault();

      $("input[type='text'], input[type='url'], textarea").each(function () {
        const initial = $(this).attr('data-initial');
        $(this).val(initial);
      });
    })

    $('#add-cinema-image-button').click(function () {
      const $totalForms = $('#id_cinemaimage_set-TOTAL_FORMS');
      const count = parseInt($totalForms.val());

      const $cinemaImageFormMarkup = $emptyCinemaImageForm.prop('outerHTML');
      const regex = /cinemaimage_set-(\d+)-/g;
      const $compiledCinemaImageForm = $cinemaImageFormMarkup.replace(regex, `cinemaimage_set-${count}-`);

      $wrappers.eq(0).find('.mt-3').append($compiledCinemaImageForm);

      $totalForms.attr('value', count + 1);

      $wrappers.eq(0).animate({
        scrollLeft: $wrappers.eq(0).prop('scrollWidth')
      }, 500);
    });


    $(document).on('click', '.delete-cinema-image-button', function () {
      const $card = $(this).closest('.card');
      $card.find('input[type="checkbox"]').prop('checked', true);
      $card.hide();
    })

    $(document).on('change', 'input:file', function (e) {
      $(this).prev().html($(this).val().split('\\').pop());

      const image = e.target.files[0];
      const src = URL.createObjectURL(image);

      const $preview = $(this).parent().parent().prev();

      const className = $($preview)
        .attr('class')
        .split(/\s+/)
        .find(className => className.startsWith('preview'));

      $preview.remove();

      const $previewContainer = $(`<div class=${className}>`);
      $previewContainer.insertBefore($(this).closest('.input-group'));

      const $image = $(`<img src=${src} alt="preview">`);
      $previewContainer.append($image);
    });

    {% if form.instance.id %}
      $('#delete-cinema-logo-button').click(function () {
        const $button = $(this);
        $.ajax({
          url: "{% url 'adminlte_cinema_delete_cinema_logo' cinema_id=form.instance.id %}",
          method: "DELETE",
          success: function (data) {
            if (data.status === 202) {
              toastr.success("Cinema logo was deleted successfully");

              const $preview = $button.parent().prev();
              $preview.remove();
              const $previewContainer = $(`<div></div>`);
              $previewContainer.addClass('preview-logo skeleton')
              $previewContainer.insertBefore($($button).closest('.input-group'));

              $("#id_logo").prop('required', true);
              $button.addClass("disabled")
            }
          }
        });
      })

      $('#delete-cinema-banner-button').click(function () {
          const $button = $(this);
          $.ajax({
            url: "{% url 'adminlte_cinema_delete_cinema_banner' cinema_id=form.instance.id %}",
            method: "DELETE",
            success: function (data) {
              if (data.status === 202) {
                toastr.success("Cinema banner was deleted successfully");

                const $preview = $button.parent().prev();
                $preview.remove();
                const $previewContainer = $(`<div></div>`);
                $previewContainer.addClass('preview-banner skeleton')
                $previewContainer.insertBefore($($button).closest('.input-group'));

                $("#id_upper_banner").prop('required', true);
                $button.addClass("disabled")
              }
            }
          })
        }
      )

      const $datatable = $('#datatable_halls');

      AjaxDatatableViewUtils.initialize_table(
        $datatable,
        "{% url 'adminlte_halls_datatable' %}",
        {
          processing: false,
          autoWidth: false,
          full_row_select: true,
          scrollX: false
        }, {
          cinema_id: '{{ form.instance.id }}'
        },
      );

      $datatable.on('initComplete', function () {
        const $dtLength = $('.dt-length');
        const $dtSearch = $('.dt-search');
        $dtLength.wrap('<div class="col-md-auto mr-auto"></div>');
        $dtSearch.wrap('<div class="col-md-auto ml-auto"></div>');

        const $dtInfo = $('.dt-info');
        const $dtPaging = $('.dt-paging');
        $dtInfo.wrap('<div class="col-md-auto mr-auto"></div>');
        $dtPaging.wrap('<div class="col-md-auto ml-auto"></div>');

        const firstRow = $('<div class="row justify-content-between"></div>')
          .append($dtLength.parent())
          .append($dtSearch.parent());

        const secondRow = $('<div class="row justify-content-between mb-2"></div>')
          .append($dtInfo.parent())
          .append($dtPaging.parent());

        firstRow.insertBefore('#datatable_halls');
        secondRow.insertAfter('#datatable_halls');

        const $table = $('#datatable_halls')
        $table.wrap('<div style="overflow-x: auto"></div>');

      });

      $(document).on('click', '.update-hall-button', function () {
        const currentHref = window.location.href;
        const cropped = currentHref
          .substring(0, currentHref.slice(0, currentHref.length - 1)
            .lastIndexOf("/"));
        window.location.href = `${cropped}/halls/${this.closest('tr').id.substr(4)}/update`
      });
    {% endif %}
  </script>
  <script defer>
  </script>
{% endblock script %}
