{% extends "adminlte/panel/base.html" %}
{% load static %}
{% block title %}
  Cinemas
{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static 'custom/css/full-width-button-group.css' %}">
  <link rel="stylesheet" href="{% static 'custom/css/preview.css' %}">
  <link rel="stylesheet" href={% static 'custom/css/grid.css' %}>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header p-2">
      Cinemas
    </div>
    <div class="card-body grid-container p-2">
      {% for cinema in cinemas %}
        <div class="card p-2">
          <div class="preview-logo">
            <img src="{{ cinema.logo.url }}"
                 alt="preview">
          </div>
          <div class="card-body text-center p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><p class="mb-1">{{ cinema.name_en }}</p></li>
              <li class="list-group-item pt-2 pb-0">
                <div class="btn-group">
                  <a href="{% url 'adminlte_cinemas_update_cinema' cinema_id=cinema.id %}"
                     type="button"
                     class="btn btn-primary w-100">
                    <i class="fa fa-pen" aria-hidden="true"></i>
                    Update
                  </a>
                  <a type="button"
                     class="btn btn-danger w-100 delete-film-button"
                     data-toggle="modal"
                     data-target="#confirmationModal">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
                  </a>
                </div>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <a href="{% url 'adminlte_cinemas_create_cinema' %}" class="btn btn-primary btn-success">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add cinema
    </a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmation window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete cinema?
        </div>
        <form method="post" id="delete-cinema-form">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
{% endblock script %}
