{% extends "adminlte/panel/base.html" %}
{% block title %}
  Pages
{% endblock title %}
{% block head %}
{% endblock %}
{% block content %}
  <div style="overflow-x: auto;">
    <table class="table table-bordered mb-2" style="width:100%; background: white">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Status</th>
        <th scope="col">Update Or Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!--Main Page-->
        <td>Main page</td>
        <td>{{ main_page.created_at|date:"m/d/y" }}</td>
        <td>
          {% if main_page.is_active %}
            Enabled
          {% else %}
            Disabled
          {% endif %}
        </td>
        <td>
          <div class="d-flex flex-nowrap">
            <a class="btn btn-primary text-nowrap mr-2"
               href="{% url 'adminlte_pages_main_page' %}">
              <i class="fa fa-pen" aria-hidden="true"></i>
              Update
            </a>
            <a
              class="btn btn-info btn-danger text-nowrap disabled" disabled
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
              Delete
            </a>
          </div>
        </td>
      </tr>
      <!--Pages-->
      {% for page in pages %}
        <tr>
          <td>{{ page.name_en }}</td>
          <td>{{ page.created_at|date:"m/d/y" }}</td>
          <td>
            {% if page.is_active %}
              Enabled
            {% else %}
              Disabled
            {% endif %}
          </td>
          <td>
            <div class="d-flex flex-nowrap">
              <a class="btn btn-primary text-nowrap mr-2"
                 href="{% url 'adminlte_pages_update_page' page_id=page.id %}">
                <i class="fa fa-pen" aria-hidden="true"></i>
                Update
              </a>
              <a
                class="btn btn-info btn-danger text-nowrap {% if page.can_be_deleted is False %}disabled {% endif %}btn-danger delete-page-button"
                href="{% url 'adminlte_pages_delete_page' page_id=page.id %}"
                data-toggle="modal"
                data-target="#confirmationModal"
              >
                <i class=" fa fa-trash" aria-hidden="true"></i>
                Delete
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <a href="{% url 'adminlte_pages_create_page' %}" class="btn btn-primary btn-success">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add page
    </a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmation window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete page?
        </div>
        <form method="post" id="delete-page-form">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
  <script>
    $(document).on('click', '.delete-page-button', function () {
        $('#delete-page-form').attr('action', $(this).attr('href'))
      }
    )
  </script>
{% endblock script %}
