{% extends "site/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
  {% trans 'Billboard' %}
{% endblock %}
{% block head %}
{% endblock head %}
{% block content %}
  <div class="px-sm-5 px-2 py-3">
    <div class="row g-2">
      {% for session in sessions %}
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card rounded-0 shadow-sm mb-2" style="width: 100%;">
            <div class="ratio ratio-2x3">
              <div class="d-inline-block overflow-hidden">
                <img class="w-100 h-100"
                     src="{% get_media_prefix %}{{ session.film__image }}" alt="Film Image">
              </div>
            </div>
            <div class="card-body d-flex flex-column align-items-center">
              <h5 class="card-title text-truncate">
                {% if LANGUAGE_CODE == 'en' %}
                  {{ session.film__name_en }}
                {% else %}
                  {{ session.film__name_uk }}
                {% endif %}
              </h5>
              <a href="{% url 'site_schedule_detail' pk=session.id %}" class="btn w-100 btn-success">
                <i class="fas fa-money-bill"></i>
                {% trans 'Buy a ticket' %}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
{% block script %}
  <script>
  </script>
{% endblock script %}
