{% extends "adminlte/panel/base.html" %}
{% load static %}
{% block title %}
  Promotions
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'custom/css/datatable.css' %}">
  <!--DataTable-->
  <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap4.css" rel="stylesheet">
{% endblock head %}
{% block content %}
  <!--DataTable-->
  <table id="datatable_promotions" class="table table-bordered"
         style="width:100%; background: white"></table>
  <div class="d-flex justify-content-end">
    <a href="{% url 'adminlte_promotions_create_promotion' %}"
       class="btn btn-primary btn-success">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add promotion
    </a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmation window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete promotion?
        </div>
        <form method="post" id="delete-promotion-form">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <!--DataTable-->
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>
  <script src="{% static 'custom/js/restructure-datatable.js' %}"></script>
  <!--Django AJAX DataTable-->
  <script type="text/javascript" src="{% static 'plugins/ajax_datatable/js/utils.js' %}"></script>
  <script>
    const $datatable = $('#datatable_promotions');

    AjaxDatatableViewUtils.initialize_table(
      $datatable,
      "{% url 'adminlte_promotions_datatable' %}",
      {
        processing: false,
        autoWidth: false,
        full_row_select: true,
        scrollX: false
      }
    );

    $datatable.on('initComplete', function () {
      restructureDatatable();
    });

    $(document).on('click', '.update-promotion-button', function () {
      const id = this.closest('tr').id.substr(4);
      const currentHref = window.location.href;
      const cropped = currentHref
        .substring(0, currentHref.slice(0, currentHref.length - 1)
          .lastIndexOf("/"));
      window.location.href = `${cropped}/promotions/${id}/update`;
    });

    $(document).on('click', '.btn-danger', function () {
      const id = this.closest('tr').id.substr(4);
      const currentHref = window.location.href;
      const cropped = currentHref
        .substring(0, currentHref.slice(0, currentHref.length - 1)
          .lastIndexOf("/"));
      $('#delete-promotion-form').attr('action', `${cropped}/promotions/${id}/delete/`);
    })
  </script>
{% endblock script %}
