{% extends "site/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
  {{ cinema.seo_title }}
{% endblock %}
{% block head %}
  <meta name="description" content="{{ cinema.seo_description }}">
  <meta name="keywords" content="{{ cinema.seo_keywords }}">
{% endblock head %}
{% block content %}
  <!--Cinema Upper Banner-->
  <div class="ratio ratio-5x2">
    <div class="inline-block overflow-hidden">
      <img class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle"
           src="{{ cinema.upper_banner.url }}"
           alt="Cinema Upper Banner">
    </div>
  </div>
  <div class="px-sm-5 px-3 py-3">
    <div class="container g-0">
      <div class="row">
        <!--Left Column-->
        <div class="col-md-3 col-12">
          <!--Logo-->
          <div class="ratio ratio-1x1 mb-3">
            <div class="inline-block overflow-hidden rounded">
              <img class="h-100 object-fit-cover position-absolute top-50 start-50 translate-middle"
                   src="{{ cinema.logo.url }}" alt="Cinema Logo">
            </div>
          </div>
          <!--Halls-->
          <h5 class="px-2">{% trans 'Halls' %}</h5>
          <div class="list-group">
            {% for hall in cinema.halls.all %}
              <a href="{% url 'site_halls_detail' pk=hall.id %}" class="list-group-item list-group-item-action">
                {% if LANGUAGE_CODE == 'en' %}
                  {{ hall.name_en }}
                {% else %}
                  {{ hall.name_uk }}
                {% endif %}
              </a>
            {% endfor %}
          </div>
          <!--Sessions-->
          <h5 class="px-2 pt-3">{% trans 'Sessions' %}</h5>
          <div class="list-group" style="max-height: 100vh; overflow-y: scroll">
            {% for hall in cinema.halls.all %}
              {% for session in hall.sessions.all %}
                <a href="{% url 'site_schedule_detail' pk=session.id %}" class="list-group-item list-group-item-action">
                  {% trans 'Session' %} №{{ session.id }}
                </a>
              {% endfor %}
            {% endfor %}
          </div>
          <!--See all sessions-->
          <a href="{% url 'site_schedule' %}" class="btn btn-primary w-100 mt-2 mb-1">
            <i class="fa fa-th-list" aria-hidden="true"></i>
            {% trans 'See all session' %}
          </a>
        </div>
        <!--Right Column-->
        <div class="col-md-9 col-12">
          <!--Cinema Name-->
          <h5 class="text-align-justify my-2">
            {% if LANGUAGE_CODE == "en" %}
              {{ cinema.name_en }}
            {% else %}
              {{ cinema.name_uk }}
            {% endif %}
          </h5>
          <!--Cinema Description-->
          <h5 class="text-align-justify my-2">{% trans 'Description' %}</h5>
          <div class="fs-6 fw-light text-align-justify">
            {% if LANGUAGE_CODE == "en" %}
              {{ cinema.description_en }}
            {% else %}
              {{ cinema.description_uk }}
            {% endif %}
          </div>
          <!--Cinema Features-->
          <h5 class="text-align-justify my-2">{% trans 'Features' %}</h5>
          <div class="fs-6 fw-light text-align-justify">
            {% if LANGUAGE_CODE == "en" %}
              {{ cinema.features_en }}
            {% else %}
              {{ cinema.features_uk }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="CinemaImageGalleryCarousel" class="carousel slide"
       data-bs-ride="carousel"
       data-bs-interval="3000">
    <div class="carousel-indicators">
      {% for image in cinema.images.all %}
        <button type="button"
                data-bs-target="#CinemaImageGalleryCarousel"
                data-bs-slide-to="{{ forloop.counter0 }}"
                aria-label="Slide {{ forloop.counter0 }}"
                aria-current="true"
                {% if forloop.counter0 == 0 %}class="active"{% endif %}></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for image in cinema.images.all %}
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
          <div class="ratio ratio-4x1">
            <a>
              <img class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle"
                   src="{{ image.image.url }}" alt="Cinema Image">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#CinemaImageGalleryCarousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#CinemaImageGalleryCarousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock content %}
{% block script %}
  <script>
  </script>
{% endblock script %}
