{% extends "site/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
  {% trans 'Cinemas' %}
{% endblock %}
{% block head %}
{% endblock head %}
{% block content %}
  <div class="px-sm-5 px-2 py-3">
    <div class="row g-2">
      <!--Cinemas Cards-->
      {% for cinema in object_list %}
        <div class="col-sm-12 col-md-6 col-lg-4">
          <a class="text-decoration-none text-dark">
            <div class="card rounded-0 shadow-sm mb-2" style="width: 100%;">
              <div class="ratio ratio-1x1">
                  <img class="img-fluid"
                       src="{{ cinema.logo.url }}" alt="cinema Image">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center mb-0">
                  {% if LANGUAGE_CODE == "en" %}
                    {{ cinema.name_en }}
                  {% else %}
                    {{ cinema.name_uk }}
                  {% endif %}
                </h5>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <!--Pagination Block-->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mb-0">
        <!--Previous Page Button-->
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'site_cinemas' %}?page={{ page_obj.previous_page_number }}"
               aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}
        {% for page_number in page_obj.paginator.page_range %}
          <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
            <a class="page-link"
               href="{% url 'site_cinemas' %}?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <!--Next Page Button-->
          <li class="page-item">
            <a class="page-link" href="{% url 'site_cinemas' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock content %}
{% block script %}
  <script>
  </script>
{% endblock script %}
