{% extends "site/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
  {% trans 'Schedule' %}
{% endblock %}
{% block head %}
  <!--Select2 Bootstrap5 theme-->
  <!-- Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css"/>

{% endblock head %}
{% block content %}
  <div class="px-sm-5 px-2 py-3">
    <div class="container g-0 mb-2">
      <div id="filters" class="row align-items-center">
        <div class="col-lg-3 col-sm-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="3D" value="3D">
            <label class="form-check-label" for="3D">3D</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="2D" value="2D">
            <label class="form-check-label" for="2D">2D</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="IMax" value="IMax">
            <label class="form-check-label" for="IMax">IMax</label>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-3 col-6  my-2">
              <select style="width: 100%" id="cinema-select" class="form-select">
              </select>
            </div>
            <div class="col-md-3 col-6  my-2">
              <select style="width: 100%" id="date-select" class="form-select">
              </select>
            </div>
            <div class="col-md-3 col-6  my-2">
              <select style="width: 100%" id="film-select" class="form-select">
              </select>
            </div>
            <div class="col-md-3 col-6 my-2">
              <select style="width: 100%" id="hall-select" class="form-select">
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sessions">
    </div>
  </div>
{% endblock content %}
{% block script %}
  <script>
    $(document).ready(function () {
      const $3D = $('#3D');
      const $2D = $('#2D');
      const $IMax = $('#IMax');
      const $cinemaSelect = $('#cinema-select');
      const $dateSelect = $('#date-select');
      const $filmSelect = $('#film-select');
      const $hallSelect = $('#hall-select');

      renderSessions();

      $cinemaSelect.select2({
        theme: 'bootstrap-5',
        width: 'resolve',
        ajax: {
          url: "{% url 'site_schedule_cinemas'%}",
          dataType: "json",
          processResults: data => ({
            results: data.map(item => ({
              id: item.id,
              text: item.name_{{ LANGUAGE_CODE }}
            }))
          })
        }
      });

      $dateSelect.select2({
        theme: 'bootstrap-5',
        width: 'resolve',
        ajax: {
          url: "{% url 'site_schedule_showtime'%}",
          dataType: "json",
          processResults: data => ({
            results: data.map(item => ({
              id: item,
              text: item
            }))
          })
        }
      });

      $filmSelect.select2({
        theme: 'bootstrap-5',
        width: 'resolve',
        ajax: {
          url: "{% url 'site_schedule_films'%}",
          dataType: "json",
          processResults: data => ({
            results: data.map(item => ({
              id: item.id,
              text: item.name_{{ LANGUAGE_CODE }}
            }))
          })
        }
      });

      $hallSelect.select2({
        theme: 'bootstrap-5',
        width: 'resolve',
        ajax: {
          url: "{% url 'site_schedule_halls'%}",
          dataType: "json",
          processResults: data => ({
            results: data.map(item => ({
              id: item.id,
              text: item.name_{{ LANGUAGE_CODE }}
            }))
          })
        }
      });

      $cinemaSelect.on('select2:select', function () {
        $hallSelect.empty();
        $hallSelect.select2({
          theme: 'bootstrap-5',
          width: 'resolve',
          ajax: {
            url: `{% url 'site_schedule_halls'%}?cinema_id=${$cinemaSelect.val()}`,
            dataType: "json",
            processResults: data => ({
              results: data.map(item => ({
                id: item.id,
                text: item.name_{{ LANGUAGE_CODE }}
              }))
            })
          }
        })
      })

      $('#filters').on('click select2:select', '#3D,#2D,#IMax,#cinema-select,#date-select,#film-select,#hall-select', function () {
        renderSessions();
      })

      function renderSessions() {
        const filters = {};
        //checkboxes
        if ($3D.is(":checked")) {
          filters['is_3d'] = true;
        }

        if ($2D.is(":checked")) {
          filters['is_2d'] = true;
        }

        if ($IMax.is(":checked")) {
          filters['is_imax'] = true;
        }
        //selectors
        if ($cinemaSelect.val()) {
          filters['cinema_id'] = $cinemaSelect.val()
        }

        if ($dateSelect.val()) {
          filters['date'] = $dateSelect.val();
        }

        if ($filmSelect.val()) {
          filters['film_id'] = $filmSelect.val();
        }

        if ($hallSelect.val()) {
          filters['hall_id'] = $hallSelect.val()
        }

        const querystring = Object.entries(filters).map(([key, value]) => `${key}=${value}`).join('&');


        $.ajax({
          url: `{% url 'site_schedule_sessions'%}?${querystring}`,
          method: "GET",
          beforeSend: function () {
            $('.loading').show();
          },
          success: function (response) {
            const $sessions = $('#sessions');

            $sessions.empty();
            $('.loading').fadeOut();

            Object.entries(response).forEach(([key, sessions]) => {
              $sessions.append(`<h5>${key}</h5>`);
              const $table = $(
                  "<table class='table table-striped table-bordered'>" +
                  "<thead>" +
                  "<tr>" +
                  "<th scope='col'>{% trans 'Time' %}</th>" +
                  "<th scope='col'>{% trans 'Film' %}</th>" +
                  "<th scope='col'>{% trans 'Hall' %}</th>" +
                  "<th scope='col'>{% trans 'Price' %}</th>" +
                  "<th scope='col'>{% trans 'Book a ticket' %}</th>" +
                  "</tr>" +
                  "</thead>" +
                  "<tbody>" +
                  "</tbody>" +
                  "</table>"
                )
              ;
              $sessions.append($table);
              for (const session of sessions) {
                $table.children('tbody').append(
                  "<tr>" +
                  `<td scope='col'>${session.time}</td>` +
                  `<td scope='col'>{% if LANGUAGE_CODE == "uk" %}${session.film_name_uk}{% else %}
                  ${session.film_name_en}{% endif %}</td>` +
                  `<td scope='col'>{% if LANGUAGE_CODE == "uk" %}${session.hall_name_uk}{% else %}
                  ${session.hall_name_en}{% endif %}</td>` +
                  `<td scope='col'>${session.price}</td>` +
                  "<td scope='col'>" +
                  `<a href='${window.location.origin}/schedule/${session.id}' class='btn btn-success'>` +
                  "<i class='fas fa-money-bill'></i>" +
                  " {% trans 'Book a ticket' %}" +
                  "</a>" +
                  "</td>" +
                  "</tr>"
                )
              }
            })
          }
        })
      }
    })
  </script>
{% endblock script %}
