{% extends "site/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
  {% trans 'Ticket Booking' %}
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'custom/css/seat-booking.css' %}">
{% endblock head %}
{% block content %}
  <!--Hall Upper Banner-->
  <div class="ratio ratio-5x2">
    <div class="inline-block overflow-hidden">
      <img class="w-100 object-fit-cover position-absolute top-50 start-50 translate-middle"
           src="{{ hall.upper_banner.url }}"
           alt="Hall Upper Banner">
    </div>
  </div>
  <div class="container py-2">
    <div class="row">
      <div class="col-3 d-none d-lg-block">
        <!--Logo-->
        <div class="ratio ratio-9x16 mb-3">
          <div class="inline-block overflow-hidden rounded">
            <img class="h-100 object-fit-cover position-absolute top-50 start-50 translate-middle"
                 src="{{ film.image.url }}" alt="Cinema Logo">
          </div>
        </div>
      </div>
      <div class="col">
        <!--Film Name-->
        <h5 class="text-align-justify my-2">
          {% if LANGUAGE_CODE == "en" %}
            {{ film.name_en }}
          {% else %}
            {{ film.name_uk }}
          {% endif %}
        </h5>
        <!--Schedule Time-->
        <h6 class="text-align-justify text-muted my-2">
          {{ schedule.time }}, {% if LANGUAGE_CODE == 'en' %}{{ hall.name_en }}{% else %}{{ hall.name_uk }}{% endif %}
        </h6>
        <!--Price-->
        <div class="d-flex justify-content-between align-items-center">
          <h5>Price <span class="badge bg-info"><span id="price">{{ schedule.price }}</span> {% trans 'UAH' %}</span>
          </h5>
          <button class="btn btn-primary" id="buy">
            <i class="fas fa-money-bill"></i> Book tickets
          </button>
        </div>
        <!--Seat Booking-->
        <div class="movie-container">
          <ul class="showcase">
            <li>
              <div class="seat"></div>
              <small>{% trans 'N/A' %}</small>
            </li>
            <li>
              <div class="seat selected"></div>
              <small>{% trans 'Selected' %}</small>
            </li>
            <li>
              <div class="seat occupied"></div>
              <small>{% trans 'Occupied' %}</small>
            </li>
          </ul>
          <!--Order Information-->
          <p class="text text-align-justify">
            {% trans 'You have selected' %} <span id="count">0</span> {% trans 'seats for the total price of' %} <span
            id="total">0</span> {% trans 'UAH' %}</p>
          <div class="container">
            <div class="screen border"></div>
            <div id="seats">
              {% for row, group in seats.items %}
                <div class="row">
                  {% for seat in group %}
                    <div id="{{ seat.id }}" data-code="{{ seat.code }}"
                         class="seat border {% if not seat.is_free %}occupied{% endif %}"></div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
  <script>
    $(document).ready(function () {
      const $container = $('#seats');
      const $count = $('#count');
      const $total = $('#total');
      const $priceSpan = $('#price');
      const $buyButton = $('#buy');

      const ticketPrice = parseFloat($priceSpan.text());

      function updateSelectedCount() {
        const $selectedSeats = $('#seats .seat.selected');
        const selectedSeatsCount = $selectedSeats.length;
        $count.text(selectedSeatsCount);
        $total.text(selectedSeatsCount * ticketPrice);
      }

      $container.on('click', '.seat:not(.occupied)', function (event) {
        event.stopPropagation();
        $(this).toggleClass('selected');
        updateSelectedCount();
      });

      $buyButton.click(function () {
        const $selectedSeats = $('#seats .row .seat.selected');
        const selectedSeatIds = $selectedSeats.map(function () {
          return $(this).prop('id');
        }).get();

        $.ajax({
          url: "{% url 'site_schedule_tickets' session_id=schedule.id %}",
          method: 'POST',
          headers: {'X-CSRFToken': "{{ csrf_token }}"},
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify({seats: selectedSeatIds}),
          success: function (response) {
            console.log('success');
          },
        });
      });
    });
  </script>
{% endblock script %}
